<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="../css/costumer.css">
    <title>Document</title>
    <style>
        h1{
    color: red;
}

#container{
    border: 1px solid;
    width: 55%;
    height: 30%;
}

#content{

}

#header{
    display: flex;
    padding: 20px;
    justify-content: center;
}

#footer{
    display: flex;
    position: sticky;
    background-color: springgreen;
}

#logo{
    display: flex;
    width: 70px;
}
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>