<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/costumer.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <img id="logo" src="./img/dblogo_400x400.png" alt="">
        </div>
        <div id="content">
            
            <p>Nome:Nome cliente</p>
            <p>E-mail:cliente@dominio.com.br</p>
            <p>Endereço:R.teste</p>
            <p>Telefone:(11)11111-1111</p>

        </div>
        <div id="footer">
            <p>footer</p>
        </div>
    </div>
</body>
</html>